<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simplelanguage -->
      <package
            uri="http://www.inria.fr/teams/kairos/simplelanguage"
            class="fr.inria.kairos.tuto.simplelanguage.SimplelanguagePackage"
            genModel="model/simplelanguage.genmodel"/>
   </extension>

</plugin>
